.btn, .btn:hover, .btn:active, .btn:visited, .btn:focus {
  display: block;
  margin: auto;
  background-color: $yellow;
  outline: none !important;
  border-radius: 20px;
  border: 0;
  width: 10em;
  padding: 0.5em;
}

.modal-body {
  button, button:hover, button:focus, button:active {
  border: 0;
  color: $charcoal !important;
  background-color: $blue !important;
  margin: 1.5em auto;
  }
}
