.btn, .btn:hover, .btn:active, .btn:visited, .btn:focus {
  display: block;
  margin: auto;
  background-color: $yellow;
  outline: none !important;
  border-radius: 20px;
  border: 0;
  width: 10em;
  padding: 0.5em;
}

.modal-footer button {
  border: 0;
  color: $charcoal;
  margin-bottom: 1.5em;
}
