.navbar-default .navbar-toggle .icon-bar {
    background-color: $charcoal;
}

.nav-icon {
  position: relative;
  bottom: 7px;
  @media only screen and (max-width: 425px) {
    width: 25px;
    bottom: 4px;
  }
}

.section-header {
  display: block;
  margin: 3em auto;
}

#ghostie {
  height: 35px;
  margin-bottom: 0.5em;
}

.modal-header {
  img {
  margin-bottom: 1em;
  }
}

.modal-header button {
  position: relative;
  right: 0.5em;
}

.add, .remove {
  width: 10px;
}
