@include font-face('Gudea-Bold');
@include font-face('Gudea-Italic');
@include font-face('Gudea-Regular');
@include font-face('PTSans-Bold');
@include font-face('PTSans-Italic');
@include font-face('PTSans-Regular');

nav {
  a, a:visited, a:hover {
    font-family: 'Gudea-Bold';
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $charcoal;
    cursor: pointer;
  }
}

h4 {
  font-family: 'Gudea-Bold';
  text-align: center;
  color: $white;
  span {
    font-family: 'Gudea-Regular';
    font-size: 16px;
  }
}

p {
  font-family: "PTSans-Regular";
  color: $white;
}

.btn {
  font-family: 'PTSans-Bold';
  font-size: 16px;
}

footer span {
  color: transparentize($white, 0.5);
  font-family: 'PTSans-Regular';
}

form {
  font-family: 'PTSans-Regular';
  color: $white;
}
