.container-fluid {
  height: 100vh;
  background: url('#{$image-path}/background.jpg');
  padding: 0;
}

header, footer {
  background: $charcoal;
  padding: 1.5em;
  display: flex;
  justify-content: center;
}
