.container-fluid {
  height: 100vh;
  background: url('#{$image-path}/background.jpg');
  padding: 0;
}

footer {
  background: transparentize($charcoal, 0.2);
  padding: 1em;
  display: flex;
  justify-content: center;
}

.title {
  height: 91vh;
  background: url('#{$image-path}/bus_gas.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.25;
}

.navbar {
  background: transparentize($charcoal, 0.2);
  border: 0;
  padding: 0.5em;
  a {
    color: $yellow !important;
  }
  .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar-collapse {
    text-align: center;
    @media only screen and (max-width: 425px) {
      text-align: left;
    }
  }
  .dropdown-toggle, .dropdown-menu {
    background: transparentize($charcoal, 0.2) !important;
    border: 0;
    a:hover {
      background: transparentize($charcoal, 0.2);
    }
  }
  .navbar-toggle {
    border: 0;
    margin-right: 0;
  }
  .navbar-collapse {
    border-color: transparentize($yellow, 0.5);
  }
  .navbar-toggle:hover {
    background: transparentize($charcoal, 0.2);
  }
  @media only screen and (max-width: 425px) {
    .navbar-right {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }
}
