.modal-content {
  background: url('#{$image-path}/background.jpg') !important;
  .btn {
    background-color: $blue;
    width: 5em;
  }
  span {
    color: $white;
  }
  .modal-header, .modal-footer {
    border: 0;
  }
  .modal-body {
    width: 75%;
    display: block;
    margin: auto;
  }
}

#contactModal, #cartModal {
  margin-top: 10vh;
  @media only screen and (max-width: 425px) {
    margin-top: 15vh;
  }
}
