<div class="container-fluid">
  <nav>
    <a href="#">Tapes</a><span>|</span>
    <a href="#">Video</a><span>|</span>
    <a href="#">Contact</a><span>|</span>
    <a href="#">Social</a>
  </nav>
</div>
