<div class="container-fluid">

  <header>
    {{nav-bar}}
  </header>

  <div class="content">
    {{outlet}}
  </div>

  <footer>
    <a href="mailto:hello@ghost.land"><img id="ghostie" src="/assets/images/ghostie.png"></a>
    <br>
    <span>Copyright 2011-2017 © Bus Gas</span><br>
  </footer>

</div>
