<div class="container-fluid">

  <header>
    {{nav-bar}}
  </header>

  <div class="content">
    {{outlet}}
  </div>

  <footer>
    <span><strong>Copyright 2011-2017 © Bus Gas</strong></span><br>
  </footer>

</div>
