<div class="container-fluid">

  <header>
    {{nav-bar}}
  </header>

  <div class="content">
    {{outlet}}
  </div>

  <footer>
    <span>Copyright 2011-2016 © Bus Gas</span><br>
    <img id="ghostie" src="/assets/images/ghostie.png">
  </footer>

</div>
