<div class="container-fluid">

  <header>
    <nav>
      <a href="#">Tapes</a><span>|</span>
      <a href="#">Video</a><span>|</span>
      <a href="#">Contact</a><span>|</span>
      <a href="#">Social</a>
    </nav>
  </header>
  
  <div class="content">
    {{outlet}}
  </div>

  <footer>
    <img src="/assets/images/ghostie.png">
  </footer>

</div>
