{{hero-unit}}

<div id="tapes">
  <img class="section-header" src="/assets/images/tapes.png" alt="Tapes">
  <div class="row">
    {{#each model as |tape|}}
      {{tapes-section tape=tape addToCart='addToCart'}}
    {{/each}}
  </div>
</div>

{{video-section}}
